html
    <head>
        
        link(rel="stylesheet", href="app.css")
        link(rel="stylesheet", href=".")
        title= page
    </head>
    <body>
    div.nav
        nav
            a(href='/') Home
            a(href='Services') Services
            a(href='/Contact') Contact
    div.head
        h1 Welcome to our contact us page!
        h1 We are here to help!
    div.content
        p Email us at: <a href="mailto:olugbengabisiriyu@gmail.com"> olugbengabisiriyu@gmail.com
        p Call us at: +2348185441955.</a>
        p Feel free Contact us today to learn more about our services.
    </body>