body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: rgb(136, 154, 154);
}

.nav {
    height: 80px;
    background: #2e2d2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
    
}

.nav a {
    padding: 22px;
    font-size: 22px;
    display: inline-block;
    text-align: center; 
    text-decoration: none;
    color: #ffffff;
    padding: 0 1.5rem;
}

.nav a:hover {
    background-color: rgb(136, 154, 154);
    
    border-radius: 5px;
}

.head{
    text-align: center;
    padding-top: 5%;
    
}

h1 {
    margin: 20px;
    color: rgb(237, 244, 237);
    
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: blue;
    line-height: 1.9;
}

.content{
    text-align: center;
    font-size: larger;
}